body {
    margin:0px;
    text-align: center;
    font-family: 'Merriweather', serif; 
    font-size: 1rem;
}

h1 {
    margin-top: 50px;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    font-weight: normal;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p {
    line-height: 2;
}

a {
    color: #11999E;
}

a:hover {
    color: #EAF6F6;
}

hr {
    border-color: #EAF6F6;
    border-width: 10px;
    border-style: none;
    border-top-style: dotted;
    height: 0px;
    width: 5%;
    margin: 100px auto 100px auto;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    margin-bottom: 10px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    margin: 50px 0px 0px 0px;
    padding: 50px 0 20px 0;
    /* padding-top: 50px;
    padding-bottom: 20px; */
    background-color: #66BFBF;
}

.footer-link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: auto 20px auto 20px;
}

.copyright {
    font-size: 0.75rem;
    color: #EAF6F6;
    margin: 30px auto 20px auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.contact_button {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius:  8px;
    -moz-border-radius:  8px;
    border-radius: 8px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 100;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .contact_button:hover {
    border: solid #2BC4AD 1px;
    background: #30ECBE;
    background-image: -webkit-linear-gradient(top, #30ECBE, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30ECBE, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30ECBE, #2BC4AD);
    background-image: -o-linear-gradient(top, #30ECBE, #2BC4AD);
    background-image: linear-gradient(to bottom, #30ECBE, #2BC4AD);
    -webkit-border-radius: 8px;
    -moz-border-radius:  8px;
    border-radius: 8px;
    text-decoration: none;
 }

.skill-row {
    text-align: left;
    width: 50%;
    /* top | right | bottom | left */
    margin: 100px auto 120px auto;
}

.code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.smartphone-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.code-skill-description {
    clear: left;
}

.mobile-skill-description {
    clear: right;
}

.pro {
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}